[submodule "k22f-support"]
	path = k22f-support
	url = git@github.com:siljesu/k22f-support.git
	branch = main
[submodule "freertos-support"]
	path = freertos-support
	url = git@github.com:siljesu/freertos-support.git
	branch = main
[submodule "lingua-franca"]
	path = lingua-franca
	url = git@github.com:siljesu/lingua-franca.git
	branch = lock-time
